@import url(https://fonts.googleapis.com/css?family=Roboto);
body{
    font-family: Tahoma, Geneva, sans-serif;
	font-size:1em;
}

/* Photo Banner */
.container {
	/*making sure the banner fills entire length of screen*/
    width: 102	%;
    overflow: hidden;
    margin: 10px auto;
    margin-left: -10px;	
    margin-right: -10px;
    background: black;
}

.photobanner, .photobanner2 {
    height: 35px;
    width: 3550px;
    font-size: 0;
}

.photobanner img, .photobanner2 img {
	margin-bottom: 10px;
	margin-right: 5px;
	height: 33px;
	width: 350px;
}

.photobanner img  {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*keyframe animations*/
.first {
    -webkit-animation: bannermove 30s linear infinite;
       -moz-animation: bannermove 30s linear infinite;
        -ms-animation: bannermove 30s linear infinite;
         -o-animation: bannermove 30s linear infinite;
            animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -2130px;}
}
 
@-moz-keyframes bannermove {
 0% {margin-left: 0px;}
 100% {margin-left: -2130px;}
}
 
@-webkit-keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -2130px;}
}
 
@-ms-keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -2130px;}
}
 
@-o-keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -2130px;}
}

.second {
    -webkit-animation: bannermoves 30s linear infinite;
       -moz-animation: bannermoves 30s linear infinite;
        -ms-animation: bannermoves 30s linear infinite;
         -o-animation: bannermoves 30s linear infinite;
            animation: bannermoves 30s linear infinite;
}
 
@keyframes "bannermoves" {
 0% {margin-left: -2130px;}
 100% {margin-left: 0px;}
}
 
@-moz-keyframes bannermoves {
 0% {margin-left: -2130px;}
 100% {margin-left: 0px;}
}
 
@-webkit-keyframes "bannermoves" {
 0% {margin-left: -2130px;}
 100% {margin-left: 0px;}
}
 
@-ms-keyframes "bannermoves" {
 0% {margin-left: -2130px;}
 100% {margin-left: 0px;}
}
 
@-o-keyframes "bannermoves" {
 0% {margin-left: -2130px;}
 100% {margin-left: 0px;}
}

/*font of header logo*/
h1, h2{
    font-family: 'Roboto', sans-serif;
}
/*opacity of front page image*/
img{
	opacity: 0.9	;	
}

/*navigation menu container*/
#container{
	width:100%;	
	margin:auto;
	max-width: 1200px;
	min-width: 600px;
	/*when browser in windowed mode, prevents blending directly with side of window*/
	padding-left: 10px;
}

/*header with name and page links */
header{
	
	background-color:#FFFFFF;	
	border-radius:0px;	
	justify-content: space-between;
	margin:auto;
}

nav li a{
	text-decoration:none;	
	color:#000;	
	text-align: center;
	min-width:600px;
}

/*When mouse hovers over page links, changes the colours*/
nav li a:hover{
	color:#D0D0D0;	
}

/*Setting the position of the page links menu*/
nav ul{
	padding-top: 0px;	
	align-items: center;
	list-style:none;
	width:45%;
	margin: auto;
	display:flex;
}

/*Setting the styles of the borders between each page menu link */
nav ul li{	
	display: inline;
	padding-left:5px;
	border-left:1px solid #7E8AA2;
	padding-right:3px;
	border-bottom:none; 
	text-align: center;

}

nav li:first-child{
	border-left:none;	
}

/*logo name class attributes*/
#logo{
	width:660px;
	margin: auto;
	text-align: center;
}

/*generates 10 pixels of space around the logo*/
#logo h1{
	padding: 0px;	
}
#logo a{
	text-decoration:none;
	color:#000;	
}

/*Allowing the logo to scale as the window is resized*/
#content{	
	display: flex;
}
section{
	padding:0 10px 10px 0;
}
.resize-img{
	width:80%;
	height:80%;
}

/* side bar with contact information */
.sidebar{
	min-width: 200px;
	max-height: 350px;
	padding-bottom: :10px;
	padding:10px;
	border:1px solid #ccc;
	border-radius:8px;
	margin-left:auto;
	margin-top: 20px;
}

/* Creates a box aligned to the right hand side*/
.floatRight{
	float:right;
	padding:5px;
	border:1px solid #ccc;

}
table{
	width:1200px;	
}
th, td{
	padding:10px 4px;
	text-align:left;	
}	
th{
	text-transform:uppercase;
	border-bottom:4px solid #000;	
	background-color:#fff;	
}
tr:nth-child(odd){
	background-color:#ccc;	
}
dt{
	font-weight:bold;
	border-top:1px dashed #ccc;	
	padding:20px 0;	
}
dt:first-child{
	border-top:none;
}

dd{
	padding:0 0 20px 0;
}
/* Additional form styles*/
label{
	display:inline-block;
	width:120px;
	vertical-align:top;
	font-size: 0.9em;
}

/*Contact form style*/
input[type=text], input[type=email], input[type=tel]{
	width:200px;
	padding:5px;
	font-family: Roboto, Arial, sans-serif;		
	align-content: center;
}
textarea{
	width:400px;
	padding:5px;
	font-family: Roboto, Arial, sans-serif;		
}
footer{
	border-top:1px solid #ccc;
	margin:20px 10px 10px 0;
	clear:both;	
	font-size:0.75em;
	text-align:center;
	font-style:italic;
}

/*Custom sized font to improve the look of the ideas page*/
.ideasHeader{
	font-size: 14px;
}

/*aligning the video on the video-work page properly*/
.contactPlacement{
	align-content: center;
	padding-top:50px;

	display: inline-block;
}

/*centering image on the front page*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/*video properties, used to center the video*/
video {
	display: flex;
	margin: auto;
	width: 55%;
}

/*changing the table assets so any table made is centre of the page, as that is the layout of the site*/
table{
	    margin-left:auto; 
    margin-right:auto;
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
